.applicant-container{
    @media (max-width: 767px) {
        flex-wrap: wrap !important;
    }

    .applicant-content{
        @media (max-width: 767px) {
           flex-basis: 100% !important;
           order: 2;
        }
    }

    .navigation-sidebar {
        @media (max-width: 767px) {
            flex-basis: 100% !important;
            order: 1;
        }

        .flex {
            @media (max-width: 767px) {
                flex-direction: row !important;
                justify-content: space-between;
                margin-bottom: 1rem;
            }

            span {
                @media (max-width: 767px) {
                    font-size: clamp(0.5rem, 0.3394rem + 0.8565vw, 0.75rem) !important;
                    width: clamp(1.5rem, 1.1788rem + 1.7131vw, 2rem) !important;
                    height: clamp(1.5rem, 1.1788rem + 1.7131vw, 2rem) !important;
                    padding: clamp(0rem, -0.1606rem + 0.8565vw, 0.25rem) !important;
                }
            }
        }
        
    }
}

.employer-container{
    @media (max-width: 767px) {
        flex-wrap: wrap !important;
    }

    .employer-content{
        @media (max-width: 767px) {
           flex-basis: 100% !important;
           order: 2;
        }
    }

    .navigation-sidebar {
        @media (max-width: 767px) {
            flex-basis: 100% !important;
            order: 1;
            padding-left: 0 !important;
        }

        .flex {
            @media (max-width: 767px) {
                flex-direction: row !important;
                justify-content: space-between;
                margin-bottom: 1rem;
            }

            span {
                @media (max-width: 767px) {
                    font-size: clamp(0.5rem, 0.3394rem + 0.8565vw, 0.75rem) !important;
                    width: clamp(1.5rem, 1.1788rem + 1.7131vw, 2rem) !important;
                    height: clamp(1.5rem, 1.1788rem + 1.7131vw, 2rem) !important;
                    padding: clamp(0rem, -0.1606rem + 0.8565vw, 0.25rem) !important;
                }
            }
        }
        
    }
}

.navigation-top {
    @media (max-width: 767px) {
        display: none !important;
    }
}